<mat-sidenav-container class="shell-container">
  <mat-sidenav
    #sidenav
    class="shell-sidenav"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    [opened]="!(isMobile$ | async)"
  >
    <div class="shell-brand">
      <mat-icon>headset_mic</mat-icon>
      <span>TechDesk</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="closeSidenavOnMobile(sidenav)"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shell-toolbar">
      @if (isMobile$ | async) {
        <button mat-icon-button (click)="sidenav.toggle()" aria-label="Abrir menú">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="shell-toolbar-title">TechDesk</span>
      <span class="shell-spacer"></span>
      <button mat-icon-button aria-label="Notificaciones">
        <mat-icon>notifications</mat-icon>
      </button>
    </mat-toolbar>

    <div class="shell-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>